<div class="inner">
	<div class="content-block">
		<h3>{{ content.heading }}</h3>
		<div>{{ content.content|markdown }}</div>	
	</div>
	<button>
		{{ content.buttontext }}
	</button>
	
</div>


{# 
<h1>{{ content.content }}</h1>
<h2>{{ content.subtext }}</h2> #}