<div class="swatch-card">


	<svg width="337" height="253" viewBox="0 0 337 253" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M336.586 0.151367L302.585 252.318H0V251.999L33.9795 0H336.586V0.151367Z" fill="{{ card.colour }}"/>
	</svg>


	<div class="swatch-card-content">
	        <div class="colour-name">{{card.name}}</div>
	        <div class="breakdown">
	        	<span>Hex</span>
	        	<p>{{ card.colour }}</p>
	        	<span>RGB</span>
	        	<p>{{ card.rgb }}</p>
	        	<span>CMYK</span>
	        	<p>{{ card.cmyk }}</p>
	        </div>

	</div>

</div>